# OSX
.DS_Store

# Xcode
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
project.xcworkspace/
xcuserdata/

# Android/IntelliJ
build/
.idea
.gradle
local.properties
*.iml
*.hprof

# Node
node_modules/
npm-debug.log
yarn-error.log

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
ios/
android/

# Metro
.metro-health-check*

# Testing
coverage/

# Env
.env*

# IDE
.vscode/
